workspace "terminal" {
	open-on-output "HDMI-A-1"
}
workspace "browser" {
	open-on-output "HDMI-A-1"
}
workspace "notes" {
	open-on-output "HDMI-A-1"
}
workspace "chat" {
	open-on-output "HDMI-A-1"
}
workspace "media" {
	open-on-output "HDMI-A-1"
}
window-rule {
	match app-id=r#"^(Alacritty|Wezterm|XTerm)$"#
	open-on-workspace "terminal"
}
window-rule {
	match app-id=r#"^(org.telegram.desktop|discord|signal)$"#
	open-on-workspace "chat"
	open-maximized true
}
window-rule {
	match app-id="zathura"
	open-on-workspace "notes"
}
window-rule {
	match app-id="librewolf"
	open-on-workspace "browser"
}
window-rule {
	match app-id="mpv"
	match title="sxiv"
    match app-id="LibreWolf" title=r#"^(YouTube Music|YouTube)$"#
	open-on-workspace "media"
}

input {
    keyboard {
        xkb {
            layout "us,cz"
            options "grp:alt_shift_toggle,caps:escape"
        }
    }
    touchpad {
        tap // tap to click
        dwt // disable while typing
        accel-speed 0.2
        accel-profile "flat"
        scroll-method "two-finger"
        disabled-on-external-mouse
    }
    mouse {
        accel-speed 1
        accel-profile "flat"
    }
    focus-follows-mouse
}

gestures {
}

output "eDP-1" {
    mode "2560x1440@165.003"
    scale 1.5
    transform "normal"
    position x=0 y=0
	focus-at-startup
	variable-refresh-rate
	backdrop-color "#181818"
}

output "HDMI-A-1" {
    mode "1920x1200@59.950"
    scale 1.0
    transform "normal"
    position x=0 y=0
	backdrop-color "#181818"
}

layout {
    gaps 8
    center-focused-column "never"

    default-column-width { proportion 0.5; }

	focus-ring {
		off
	}
    border {
        width 2
        active-color "#ffdd33"
        inactive-color "#95a99f"
        urgent-color "#f43841"
    }

	background-color "#181818"
}

spawn-at-startup "waybar"
spawn-at-startup "mako"
spawn-at-startup "nm-applet"
//spawn-at-startup "swaybg -i /home/ivanm/Pictures/Wallpapers/landscape/Hokkaido1472_2-2507551835.jpg -m fill"
hotkey-overlay {
    skip-at-startup
}
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

animations {
    //off
    slowdown 0.5
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a terminal: alacritty" { spawn "alacritty"; }
    Mod+Shift+B hotkey-overlay-title="Open a browser: librewolf" { spawn "librewolf"; }
    Mod+Shift+T hotkey-overlay-title="Open a chat program: telegram" { spawn "Telegram"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }

	Mod+Shift+E hotkey-overlay-title="Emoji picker: bemoji" { spawn "bemoji"; }
	Mod+Shift+N hotkey-overlay-title="Network manager: networkmanager_dmenu" { spawn "networkmanager_dmenu"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ +5%"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pactl set-sink-volume @DEFAULT_SINK@ -5%"; }
    Ctrl+XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "playerctl position 1+"; }
    Ctrl+XF86AudioLowerVolume allow-when-locked=true { spawn-sh "playerctl position 1-"; }
    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set +10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "brightnessctl --class=backlight set 10%-"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

	// send SIGUSR1 to waybar which causes it to toggle with the correct configuration.
	Mod+B hotkey-overlay-title="toggle waybar" { spawn-sh "kill -10 $(pgrep waybar)"; }

    Mod+J             { focus-column-left; }
    Mod+K             { focus-workspace-down; }
    Mod+L             { focus-workspace-up; }
    Mod+Semicolon     { focus-column-right; }
    Mod+Shift+J             { move-column-left; }
    Mod+Shift+K             { move-window-to-workspace-down; }
    Mod+Shift+L             { move-window-to-workspace-up; }
    Mod+Shift+Semicolon     { move-column-right; }

    Mod+Comma  { focus-monitor-left; }
    Mod+Period { focus-monitor-right; }
    Mod+Shift+Comma  { move-window-to-monitor-left; }
    Mod+Shift+Period { move-window-to-monitor-right; }
    Mod+Ctrl+Comma  { move-workspace-to-monitor-left; }
    Mod+Ctrl+Period { move-workspace-to-monitor-right; }
    Mod+Ctrl+J  { move-workspace-up; }
    Mod+Ctrl+Semicolon { move-workspace-down; }

    Mod+1 { focus-workspace "terminal"; }
    Mod+2 { focus-workspace "browser"; }
    Mod+3 { focus-workspace "notes"; }
    Mod+4 { focus-workspace "chat"; }
    Mod+5 { focus-workspace "media"; }
    Mod+Shift+1 { move-window-to-workspace "terminal" focus=false; }
    Mod+Shift+2 { move-window-to-workspace "browser" focus=false; }
    Mod+Shift+3 { move-window-to-workspace "notes" focus=false; }
    Mod+Shift+4 { move-window-to-workspace "chat" focus=false; }
    Mod+Shift+5 { move-window-to-workspace "media" focus=false; }

    Mod+Tab { focus-workspace-previous; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    Mod+Shift+S { screenshot; }

    Mod+Ctrl+Shift+Q { quit; }
    Mod+Ctrl+Shift+P { power-off-monitors; }

	Mod+Shift+P { spawn-sh "$(echo \"poweroff\nsystemctl suspend\nreboot\nsystemctl hibernate\" | fuzzel --dmenu)"; }

	Mod+P {
		spawn-sh r#"
			SEL=$(find ~/SourceCode -maxdepth 1 -type d | fuzzel --dmenu)
			if [ -n "$SEL" ]; then
				alacritty --working-directory "$SEL" -e lazygit &
				alacritty --working-directory "$SEL" -e nvim . &
				alacritty --working-directory "$SEL" -e gemini --resume &
			fi
		"#
	}
}
