@define-color fg #ffdd33;
@define-color bg #282828;
@define-color red #f43841;
@define-color grey #95a99f;

* {
	font-family: Iosevka Nerd Font Mono;
	font-size: 15px;
	border: none;
	box-shadow: none;
	transition-duration: 50ms;
}

window#waybar {
	background: @bg;
	color: @fg;
}

#workspaces button {
	border-radius: 0px;
	border-width: 0px;
	padding: 6px;
	color: @fg;
	background: @bg;
}

#workspaces button:hover {
	background: @fg;
	color: @bg;
}

#workspaces button.urgent {
	background: @red;
	color: @bg;
}

#workspaces button.active {
	background: @grey;
	color: @bg;
}

#workspaces button.focused {
	background: @fg;
	color: @bg;
}

#window {
	margin-left: 20px;
	margin-right: 20px;
}

#battery,
#pulseaudio,
#clock,
#language,
#tray {
	margin-right: 18px;
}
